// Write your overrides

.nav-no-active .router-link-active,
.nav-no-active .router-link-exact-active,
.nav-no-active .v-list-item--active {
  background: transparent !important;
  background-image: none !important;
  box-shadow: none !important;

  color: rgba(var(--v-theme-on-surface), 0.87) !important;
}

.nav-no-active .router-link-active svg,
.nav-no-active .router-link-exact-active svg,
.nav-no-active .v-icon {
  color: inherit !important;
}